name: Deploy blog
on:
  push:
    branches:
      - master
jobs:
  build_job:
    name: Deploy blog
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8"]

    steps:
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Checkout website source
        uses: actions/checkout@v6

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: pelican-4.7.2-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            pelican-4.7.2-

      - name: Install Pelican
        run: |
          pip install -r requirements.txt

      - name: Run Pelican
        id: run-pelican
        run: |
          pelican content -o docs -s pelicanconf.py
          ls docs/ -al

      - name: Push to GitHub pages
        id: push-to-gh-pages
        run: |
          git config --global user.name "lyncir"
          git config --global user.email "lyncir@gmail.com"

          git add docs/
          git commit --amend --no-edit

          git push origin master:deploy --force

